@import 'reset';
@import 'header';
@import 'footer';
@import 'game';
@import 'home';
@import 'modal';
@import 'TimeUpPopup';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    font-family: inherit;
}

.body {
    font-family: 'Krona One', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //background-color: #000;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 53px;
    border: none;
    border-radius: 16px;
    margin: 10px 20px;
    cursor: pointer;

    background-color: rgba($color-green, $alpha: .2);
    box-shadow: 0 0 10px rgba($color-green, $alpha: .4);

    color: $color-green;
    font-size: 1.2em;

    
    
    &::before, &::after {
        position: absolute;
        content: "";
        width: 162px;
        height: 45px;
        left: 0;
        top: 0;
        border: 4px solid $color-green;
        border-radius: 16px;
        box-shadow: 0 0 5px $color-green;
    }

    &::before {
        clip-path: polygon(-5px -5px, 80px -5px, 40px 78px, -5px 78px, -5px -5px);
    }

    &::after {
        clip-path: polygon(110px -5px, 180px -5px, 180px 80px, 70px 80px);
    }
}

.btn.blue {
    color: $color-blue;
    background-color: rgba($color-blue, $alpha: .2);
    box-shadow: 0 0 10px rgba($color-blue, $alpha: .4);

    &::before, &::after {
        box-shadow: 0 0 5px $color-blue;
        border: 4px solid $color-blue;
    }
}
